<ul>
    <li><i class="fa fa-home"></i><a href="{{ path('homepage_index') }}">Главная</a></li>
    <li><i class="fa fa-anchor"></i><a href="{{ path('login') }}">Вход/Регистрация</a></li>
    {#<li><i class="fa fa-anchor"></i><a href="/demo/writer/jekyll/v1-3/about">About</a></li>
    <li><i class="fa fa-plane"></i><a href="/demo/writer/jekyll/v1-3/contact">Contact</a></li>
    <li><i class="fa fa-user"></i><a href="/demo/writer/jekyll/v1-3/author/michelle">Об авторе</a></li>#}
</ul>