{% extends '::two_column_layout.html.twig' %}

{% block content %}
    <div class="author-bio">

        <img src="{{ asset('img/author.jpg') }}">

        <div class="author-bio__info">
            <h1>Сергей Казнаховский</h1>

            <p>Приветствую! Меня зовут Сергей, я являюсь веб-разработчиком около пяти лет. В данный момент работаю в крупной e-commerce компании и разрабатываю высоконагруженный API. Люблю программирование, играю в футбол, путешествую и провожу время с семьей.</p>

            <p>В данном блоге я буду публиковать посты о разработке и информатике в целом. Буду очень признателен рекомендациям и замечаниям. Подписаться на новые публикации можно <a href="{{ path('subscription') }}">здесь</a>. Связаться со мной можно здесь.</p>

        </div>
    </div>
{% endblock %}
