{% extends '::two_column_layout.html.twig' %}

{% block content %}
    <div class="sub-nav">
        <a href="#" class="select-posts active">Публикации</a>
        <a href="#" class="select-categories">Категории</a>
    </div>
    <div class="home-page-posts animated fadeIn ">

        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/item.html">10 Reasons to travel the world</a></h2>

                <p>Ask yourself, why not? What is the number one reason you wouldn’t. If the reason you get
                    back is fear, you should just do it.</p>


                <p class="meta">
                    <a href="/author/michelle">Michelle jones</a> in <a href='/category/travel'>Travel</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 34 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/michelle.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/supercharge-your-workflow-with-grunt">Supercharge Your Workflow With Grunt</a>
                </h2>

                <p>The Grunt ecosystem is huge and it’s growing every day. With literally hundreds of
                    plugins to choose from, you can use Grunt to automate just about anything with...

                <p class="meta">
                    <a href="/author/dan">Dan robberts</a> in <a href='/category/coding'>Coding</a> <i
                            class="link-spacer"></i> <i class="fa fa-bookmark"></i> 34 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/dan.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/css-with-superpowers">CSS with Superpowers</a></h2>

                <p>Sass is completely compatible with all versions of CSS. We take this compatibility
                    seriously, so that you can seamlessly use any available CSS libraries.</p>


                <p class="meta">
                    <a href="/author/michelle">Michelle jones</a> in <a href='/category/coding'>Coding</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 34 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/michelle.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/you-dont-have-to-be-great-to-get-started">You Dont Have To Be Great To Get
                        Started</a></h2>

                <p>It was a cold December morning, as I sat out on my porch I decided today was the day.</p>


                <p class="meta">
                    <a href="/author/fred">Fred smith</a> in <a href='/category/motivation'>Motivation</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 16 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/fred.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/why-react-js-will-change-the-world">Why React JS Will Change the World</a>
                </h2>

                <p>React components implement a <code>render()</code> method that takes input data and
                    returns what to display. This example uses an XML-like syntax called JSX. Input data
                    that is passed...

                <p class="meta">
                    <a href="/author/dan">Dan robberts</a> in <a href='/category/coding'>Coding</a> <i
                            class="link-spacer"></i> <i class="fa fa-bookmark"></i> 22 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/dan.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/stop-thinking-and-start-doing">Stop Thinking And Start Doing</a></h2>

                <p>Get out of your head. Every good decision starts with a momment of action. What are you
                    going to do today!</p>


                <p class="meta">
                    <a href="/author/fred">Fred smith</a> in <a href='/category/motivation'>Motivation</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 09 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/fred.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/its-not-always-that-simple">Its Not Always That Simple</a></h2>

                <p>If you always do what you’ve always done, you’ll always get what you’ve always had.</p>


                <p class="meta">
                    <a href="/author/michelle">Michelle jones</a> in <a href='/category/motivation'>Motivation</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 14 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/michelle.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/fake-it-until-you-make-it">Fake It Until You Make It</a></h2>

                <p>Don’t listen to your critics, most people spend all day talking about what others are
                    doing and no time doing anything themselves.</p>


                <p class="meta">
                    <a href="/author/fred">Fred smith</a> in <a href='/category/motivation'>Motivation</a>
                    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 22 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/fred.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


        <article class="post">
            <div class="post-preview col-xs-10  no-gutter">
                <h2><a href="/a-great-story-never-told">A Great Story Never Told</a></h2>

                <p>I’ve never told this to anyone. Sit yourself down and strap yourself in, you will
                    experience some turbulence before you reach a steady altitude.</p>


                <p class="meta">
                    <a href="/author/michelle">Michelle jones</a> in <a
                            href='/category/storytime'>Storytime</a> <i class="link-spacer"></i> <i
                            class="fa fa-bookmark"></i> 12 minutes
                </p>
            </div>


            <div class=" col-xs-2  no-gutter">
                <img src="img/michelle.jpg" class="user-icon user-1" alt="user-image">
            </div>

        </article>


    </div><!-- Home page posts -->
    <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
            <section>
                {% for category in categories %}
                    <div class="category-preview col-xs-6 col-sm-4 ">
                        <h2>{{ category.name }}</h2>
                        <a href='{{ path('homepage_index') }}'>
                            <img src='{{ asset('upload/' ~ category.picture) }}' alt="{{ category.name }}">
                        </a>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
