{% extends '::base.html.twig' %}

{% block body %}
    {% include ':components:no_js_menu.html.twig' %}
    <main class="container left-container">
        <div class="row">
            {% include ':components:main_menu.html.twig' %}
            <section class="sidebar col-md-5 col-sm-12"
                     style='background-image: url({{ asset('img/feature-san-fran.jpg') }});'>

                {% include ':components:burger.html.twig' %}

                <div class="site-info">
                    <div class="primary-info">
                        <h1>fredrsf.ru</h1>
                        <p>Блог о программировании и разработке веб-приложений.</p>

                    </div>
                    <div class="secondary-info">
                        <p>
                            <a class="btn btn-primary" href="/demo/writer/jekyll/v1-3/about/"><i class="fa fa-user-plus"></i>Подписка на публикации</a>
                        </p>
                    </div>

                </div>
            </section><!-- end sidebar -->
            <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
                {% block content %}{% endblock %}
                <footer class="split-footer">
                    <a href="/demo/writer/jekyll/v1-3/about">About</a>
                    <i class="link-spacer"></i>
                    <a href="/demo/writer/jekyll/v1-3/about">Writer 2016</a>
                </footer>
            </div><!-- main content -->
        </div><!--/row -->
    </main><!-- /container -->
{% endblock %}