{% extends '::base.html.twig' %}

{% block body %}
    <!-- if the user has javascript disabled they can still use the menu -->
    <noscript>
        <div class="no-js-menu clearfix">
            <ul>

                <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/">Home</a></li>

                <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/home-alt">Home Alt</a></li>

                <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/home-alt-2/">Home Alt 2</a></li>

                <li><i class="fa fa-anchor"></i><a href="/demo/writer/jekyll/v1-3/about">About</a></li>

                <li><i class="fa fa-plane"></i><a href="/demo/writer/jekyll/v1-3/contact">Contact</a></li>

                <li><i class="fa fa-user"></i><a href="/demo/writer/jekyll/v1-3/author/michelle">Author</a></li>

            </ul>
        </div>
    </noscript>
    <!-- end no script -->
    <main class="container left-container">
        <div class="row">
            <div id="menu-target">
                <ul>

                    <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/">Home</a></li>

                    <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/home-alt">Home Alt</a></li>

                    <li><i class="fa fa-home"></i><a href="/demo/writer/jekyll/v1-3/home-alt-2/">Home Alt 2</a></li>

                    <li><i class="fa fa-anchor"></i><a href="/demo/writer/jekyll/v1-3/about">About</a></li>

                    <li><i class="fa fa-plane"></i><a href="/demo/writer/jekyll/v1-3/contact">Contact</a></li>

                    <li><i class="fa fa-user"></i><a href="/demo/writer/jekyll/v1-3/author/michelle">Author</a></li>

                </ul>
            </div>
            <section class="sidebar col-md-5 col-sm-12" style='background-image: url({{ asset('img/feature-san-fran.jpg') }});'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

                <div class="site-info">
                    <div class="primary-info">
                        <h1>Writer</h1>
                        <p>Short stories from around the campfire for a fellow world explorer.</p>

                    </div>


                    <div class="secondary-info">
                        <p>
                            <a class="btn btn-primary" href="/demo/writer/jekyll/v1-3/about/"><i class="fa fa-user-plus"></i>Newsletter</a>
                        </p>
                    </div>

                </div>
            </section><!-- end sidebar -->
            <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
                {% block content %}{% endblock %}
                <footer class="split-footer">
                    <a href="/demo/writer/jekyll/v1-3/about">About</a>
                    <i class="link-spacer"></i>
                    <a href="/demo/writer/jekyll/v1-3/about">Writer 2016</a>
                </footer>
            </div><!-- main content -->
        </div><!--/row -->
    </main><!-- /container -->
{% endblock %}