{% extends 'two_column_layout.html.twig' %}

{% block content %}
    <div class="table-responsive" style="font-size: 14px;">
        <table class="table table-bordred table-striped">
            <thead>
                {% block thead %}{% endblock %}
            </thead>
            <tbody>
                {% block tbody %}{% endblock %}
            </tbody>
        </table>
        {% block footer %}{% endblock %}
    </div>
{% endblock %}