{% extends 'two_column_layout.html.twig' %}

{% block content %}
    <div class="author-bio">

        <img src="{{ asset('img/author.jpg') }}">

        <div class="author-bio__info">
            <h1>Сергей Казнаховский</h1>

            <p>Приветствую! Меня зовут Сергей, я разрабатываю и проектирую backend. Помогаю с обучением, консультирую по вопросам оптимизации и производительности. Люблю работать в команде, играю в футбол, путешествую и провожу время с семьей.</p>
            <p>Связаться со мной можно в <a href="https://t.me/fredrsf" target="_blank">Telegram</a>. Подписаться на новые публикации <a href="{{ path('subscription') }}">здесь</a>.</p>

        </div>
    </div>
{% endblock %}
