{% extends 'two_column_layout.html.twig' %}

{% block content %}
    <div class="sub-nav">
        <a href="#" class="select-posts active">Публикации</a>
        <a href="#" class="select-categories">Категории</a>
    </div>
    <div class="home-page-posts animated fadeIn ">
        {% include 'components/posts_list.html.twig' with { posts: posts } %}
    </div><!-- Home page posts -->
    <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
            <section>
                {% for category in categories %}
                    <div class="category-preview col-xs-6 col-sm-4 ">
                        <h2>{{ category.name }}</h2>
                        <a href='{{ path('category_detail', { slug: category.slug }) }}'>
                            <img src='{{ asset('upload/' ~ category.picture) }}' alt="{{ category.name }}">
                        </a>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
