{% extends '::two_column_layout.html.twig' %}

{% block content %}
    <div class="table-responsive" style="font-size: 14px;">
        <table class="table table-bordred table-striped">
            <thead>
                <th>Название</th>
                <th>URL</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td><p title="Edit"><a href="{{ path('admin_category_edit', { category: category.id }) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                    <td><p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div><a href="{{ path('admin_category_add') }}" class="btn-default btn">Добавить</a></div>
{% endblock %}