{% extends 'base.html.twig' %}

{% block body %}
    <header class="hero-image" style="background-image: url('{{ asset('img/postbg' ~ random(9) ~ '.jpg') }}');">
        {% include 'components/burger.html.twig' %}
        {% include 'components/no_js_menu.html.twig' %}
        {% include 'components/main_menu.html.twig' %}
    </header>
    <main class="container">
        <div class="row">
            <div class="col-xs-12 single-content">
                {% block content %}{% endblock %}
            </div>
        </div> <!--/row -->
    </main> <!-- /container -->
    {#<footer class="single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <img src="img/dan.jpg" class="user-icon " alt="user-image">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="category-list">
                        <p>Published <span>Feb 10, 2015</span></p>
                        <p><a href="/author/dan">Dan robberts</a> in <a href='category/coding'>Coding</a></p>

                        <div class="other-catergories">
                            <h3>Also found in</h3>

                            <ul>

                                <li>
                                    <a href='category/coding'>Coding</a>
                                    ,
                                </li>

                                <li>
                                    <a href='category/coding'>Js</a>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div><!-- end col -->
                <div class="col-xs-12 col-sm-4">
                    <div class="social">
                        <div class="social-links">
                            <a class="social-icon" href="#" data-platform="twitter" data-message="" data-url="http://adventurethemes.com/why-react-js-will-change-the-world"><i class="fa fa-twitter"></i></a>

                            <a class="social-icon" href="#" data-platform="facebook" data-message="" data-url="http://adventurethemes.com/why-react-js-will-change-the-world"><i class="fa fa-facebook-official"></i></a>
                            <a class="social-icon" data-platform="mail"  href="mailto:help@writer-theme.com?body=http://adventurethemes.com/why-react-js-will-change-the-world"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </footer>#}
{% endblock %}