<!-- if the user has javascript disabled they can still use the menu -->
<noscript>
    <div class="no-js-menu clearfix">
        {% include 'components/menu.html.twig' %}
    </div>
</noscript>
<!-- end no script -->