{% extends 'admin/table.html.twig' %}

{% import 'components/macros/admin.html.twig' as adminMacros %}

{% block thead %}
    <th>Название</th>
    <th>Редактировать</th>
    <th>Удалить</th>
{% endblock %}

{% block tbody %}
    {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>{{ adminMacros.editButton(path('admin_tag_edit', { tag: tag.id })) }}</td>
            <td>{{ adminMacros.deleteButton(path('admin_tag_delete', { tag: tag.id })) }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ adminMacros.addButton(path('admin_tag_add')) }}
{% endblock %}